# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Yuxuan\OneDrive\文档\My-Notebook\复杂网络分析\A-Labeling-Method-for-Financial-Time-Series-Prediction-Based-on-Trends\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
